{% extends "SchoolAppBundle::simplesurance.html.twig" %}

{% block title "Index.html.twig" %}

{% block content_header '' %}

{% block content %}

    {% if authUrl is defined %}
        <a class='login' href='{{ authUrl }}'>Connect Me!</a>
    {% endif %}

    <p>{{ message | raw }}</p>
{% endblock %}
